{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:prettier/recommended", "react-app"],
  "plugins": ["react"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
