{
  "parser": "@typescript-eslint/parser",
  "extends": ["react-app", "plugin:codeceptjs/recommended"],
  "plugins": ["react", "@typescript-eslint/tslint"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/tslint/config": [
      1,
      {
        "lintFile": "./tslint.json"
      }
    ],
    "eqeqeq": 2,
    "codeceptjs/no-actor-in-scenario": 2
  }
}
